.text-center.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
	#carpet-slider.beer-slider(data-beer-label="")
		img(src="img/carpet-before.webp" alt="")
		.beer-reveal(data-beer-label="")
			img(src="img/carpet-after.webp" alt="")