.text-center.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
	#salon-slider.beer-slider(data-beer-label="")
		img(src="img/salon-before.webp" alt="")
		.beer-reveal(data-beer-label="")
			img(src="img/salon-after.webp" alt="")