.price-table
	.row.price-table__row.g-2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Dywan/wykładzina
				.price-item__value od 25zł/m2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Pranie wykładzin do 30m2
				.price-item__value od 20złzł/m2
		//- .col-6.col-md-4.col-xxl-3.price-table__col
		//- 	.price-item 
		//- 		h4.h6.price-item__title Pranie wykładzin od 30m2 do 50m2
		//- 		.price-item__value 14-16 zł/m2
		//- .col-6.col-md-4.col-xxl-3.price-table__col
		//- 	.price-item 
		//- 		h4.h6.price-item__title Pranie wykładzin od 50m2 do 100m2
		//- 		.price-item__value 10-13 zł/m2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Pranie wykładzin powyżej 100m2
				.price-item__value wycena indywidualna