.price-table
	.row.price-table__row.g-2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Materac jednoosobowy 
				.price-item__value z jednej strony 180zł
				.price-item__value z jednej strony od 330zł
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Materac dwuosobowy
				.price-item__value z jednej strony 250zł
				.price-item__value z jednej strony od 450zł