.price-table
	.row.price-table__row.g-2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Materac jednoosobowy z jednej strony / z obu stron
				p.price-item__value od 100zł
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Materac dwuosobowy z jednej strony / z obu stron
				p.price-item__value od 150zł