.price-table
	.row.price-table__row.g-2
		.col-12.price-table__col
			h4.h6.text-center.mb-0 Ceny prania tapicerki samochodowej we Wrocławiu
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h5.h6.price-item__title Pranie tapicerki samochodowej (fotele przód+kanapa tylna)
				.price-item__value od 250zł
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h5.h6.price-item__title Kompleksowe czyszczenie wnętrz auta (pranie tapicerki, podłogi, bagażnik, plastikowe elementy, kokpit, boczki, mycie szyb, podsufitka) 
				.price-item__value od 700zł
		.col-12 
			i 
				small * Minimalny koszt wyjazdu 130zł.