.price-table
	.row.price-table__row.g-2
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Pranie tapicerki samochodowej
				p.price-item__value od 220zł
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Sprzątanie wnętrza auta + pranie tapicerki samochodowej
				p.price-item__value od 350zł
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h4.h6.price-item__title Sprzątanie wnętrza auta + czyszczenie skory samochodowej
				p.price-item__value od 400zł