.price-table
	.row.price-table__row.g-2
		.col-12.price-table__col
			h4.h6.text-center.mb-0 
		.col-6.col-md-4.col-xxl-3.price-table__col
			.price-item 
				h5.h6.price-item__title Mycie okien: jednoskrzydłowe / dwuskrzydłowe
				.price-item__value od 25zł/35zł
		.col-12 
			i 
				small * Ostateczna cena może się różnić w zależności od rozmiaru i liczby okien.
			br
			i 
				small ** Minimalny koszt wyjazdu 130zł.

