section.reviews.block#reviews
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie klientów, którzy skorzystali z usługi prania tapicerki samochodowej w Jelczu-Laskowicach
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Ania T
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Dobry kontakt, krótki czas oczekiwania, miła obsługa, a przede wszystkim idealnie wyprana tapicerka w dodatku w dobrej cenie :) dołączam zdjęcia przed i po :)
									picture 
										source(srcset="img/review-img-8.webp" type="image/webp")
										img.review__img(src="img/review-img-8.jpg", alt="", loading="lazy")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Denys Honcharenko
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem bardzo zadowolony z wyniku pracy tej firmy, wykonali swoją pracę doskonale!!! Polecam!
									picture 
										source(srcset="img/review-img-9.webp" type="image/webp")
										img.review__img(src="img/review-img-9.jpg", alt="", loading="lazy")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name A M
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Tapicerka samochodowa wygląda jak nowa – wszystkie plamy zniknęły, a wnętrze auta pachnie świeżością. Usługa została wykonana bardzo profesjonalnie, a cały proces przebiegł sprawnie i w miłej atmosferze. Widać, że firma dba o każdy detal, a efekty przerosły moje oczekiwania. Polecam z całego serca, na pewno skorzystam z ich usług ponownie!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Tomasz Szuba
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Punktualność, dokładność, pełen profesjonalizm. Do tego rozsądne ceny. Narożnik, wózek dziecka oraz 2 fotele samochodowe wyglądają jak nowe. Na pewno wrócę do tej firmy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Blazej Blazej
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Super kontakt, pełne zaangażowanie przy czyszczeniu, chociaż przypadek był trudny, siedzenia odzyskały kolor, dziękujemy jeszcze raz i polecamy.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Krzysiek Graboś
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Vitalii czyścił mi tapicerkę samochodową która była nie prana pare dobrych lat , efekt po wypraniu niesamowity !!! Polecam!!!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
			.col-12 
				.text-center
					a(href="https://g.co/kgs/vs8CZY" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
