section.reviews.block#reviews
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Opinie klientów, którzy skorzystali z naszych usług w Jelczu-Laskowicach
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Kamil Wilczak
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem absolutnie zachwycony usługami firmy CleanTapi, której powierzyłem zadanie odświeżenia mojego narożnika i dywanu. Efekt jest oszałamiający! Praca została wykonana bardzo szybko, a mimo to nie można było dostrzec żadnych kompromisów w jakości. Zespół składał się z prawdziwych profesjonalistów, którzy wykazali się nie tylko umiejętnościami, ale także zaangażowaniem i pasją do swojej pracy. Moje meble dostały drugie życie. Narożnik i dywan wyglądają teraz jak nowe, a to wszystko dzięki doskonałej pracy tej firmy. Jestem pod wrażeniem ich umiejętności i dbałości o szczegóły. Zdecydowanie polecam tę firmę każdemu, kto szuka profesjonalnego czyszczenia mebli lub dywanów.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Monika Zelobowska
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text W 100% polecam Pana Vitalija, pełen profesjonalizm, punktualność. Nasze kanapy i dywany po czyszczeniu wyglądają jak nowe. Pan Vitslij mył również okna u mnie w pracy. Usługa przebiegła szybko i profesjonalnie. Na pewno skorzystam ponownie. Polecam serdecznie. Po raz kolejny (3 raz) korzystałam z usługi Pana Vitalija - mycie okien w aptece. Jak zwykle pełen profesjonalizm: punktualność, sprawność i jakość wykonania - na 6. Polecam usługi tego Pana w 100%.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Anna Anna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem bardzo zadowolona z efektów pracy Pana Vitalija. Fotele i kanapa po długotrwałym użytkowaniu, przy dwójce dzieci i dwóch psach zostały porządnie wyczyszczone. Odzyskały pierwotne kolory i zapach czystości. Dodatkowo kanapa została osuszona, dzięki czemu mogłam szybko z niej korzystać. Na pewno ponownie skorzystam z usługi w przyszłym roku. Polecam :)
									picture 
										source(srcset="img/review-img-7.webp", type="image/webp")
										img.review__img(src="img/review-img-7.jpg", alt="")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Bożena Babska
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Muszę bardzo mocno zarekomendować usługi Pana Vitalija. Z całym przekonaniem polecam .Czyszczenie mebli w biurze przebiegło sprawnie i rzetelnie zostało wykonane. Ceny są przystępne.
									picture 
										source(srcset="img/review-img-5.webp" type="image/webp")
										img.review__img(src="img/review-img-5.jpg", alt="", loading="lazy")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Ania T
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Dobry kontakt, krótki czas oczekiwania, miła obsługa, a przede wszystkim idealnie wyprana tapicerka w dodatku w dobrej cenie :) dołączam zdjęcia przed i po :)
									picture 
										source(srcset="img/review-img-8.webp" type="image/webp")
										img.review__img(src="img/review-img-8.jpg", alt="", loading="lazy")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Denys Honcharenko
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem bardzo zadowolony z wyniku pracy tej firmy, wykonali swoją pracę doskonale!!! Polecam!
									picture 
										source(srcset="img/review-img-9.webp" type="image/webp")
										img.review__img(src="img/review-img-9.jpg", alt="", loading="lazy")
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Maja Gajewska
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Rzadko chce mi się wystawiać opinie, ale tu muszę. Czyszczenie pierwsza klasa! Materace w łóżkach wyglądają jak nowe, narożnik również. Pan, który wykonywał usługę był bardzo sympatyczny i przede wszystkim zmienił buty na domowe, co nie jest oczywiste dla niektórych fachowców wchodzących w brudnych buciorach np. do pokoju dziecka. 100% profesjonalizmu!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									h4.h6.review__name Monika Stojanowicz
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Bardzo miły kontakt. Usługa wykonana profesjonalnie i szybko. Polecam :-) ja na pewno jeszcze nie raz skorzystam.
			.col-12 
				.text-center
					a(href="https://g.co/kgs/vs8CZY" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
