section.about#about.bg.bg-dark 
	.container
		.row.gx-5.gy-0
			.col-12.col-lg-4
				.mask 
					.triangle.triangle-135.top-inner.left-inner
					.triangle.triangle-45.top-inner.right-inner
					.triangle.triangle-225.bottom-inner.left-inner
					.triangle.triangle-315.bottom-inner.right-inner
					.triangle.triangle-45.top-inner.left-outer.offset-x-p
					.triangle.triangle-315.bottom-inner.left-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-135.top-inner.right-outer.offset-x-p
					.triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
					.triangle.triangle-225.triangle-fill.bottom-inner.left-inner.offset-x-n.d-lg-none.correction-y-n
					.line.line-v-100.top-inner.right-outer
					.line.line-v-100.top-inner.left-outer
					.line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title O nas
						h3.h6.mask__subtitle Zespół, który kocha swoją pracę i ceni Twój czas
						p.text-center
							a.btn.btn-primary-outline.btn-normal.btn-rhombus.w-100.text-center(href="tel:+48575256496") 
								span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner
								span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner
								span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner
								span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner
								svg.icon.icon-right.shake(width="16" height="16")
									use(href="#tel")
								| Zadzwoń
			.col-12.col-lg-8.align-self-center 
				.block
					.about__info(data-aos="fade-left" data-aos-delay="200")
						p Nasi klienci nam ufają, ponieważ do każdej pracy podchodzimy z pełnym profesjonalizmem. Specjalizujemy się w czyszczeniu tapicerki meblowej, materacy, dywanów, okien oraz w praniu tapicerki samochodowej.
						p Każdego dnia usuwamy różnego rodzaju plamy: z jedzenia i napojów, sierść zwierząt domowych, nieprzyjemne zapachy, pleśń oraz głęboko osadzony kurz.
						p Dzięki naszemu doświadczeniu, specjalistycznemu sprzętowi oraz skutecznym środkom czyszczącym skutecznie usuwamy wszelkie zabrudzenia, przywracając świeżość i czystość, które sprawiają, że klienci chętnie do nas wracają.
						p Nie tylko profesjonalnie zajmujemy się czyszczeniem, ale także dzielimy się naszym doświadczeniem. Stworzyliśmy kurs, w którym krok po kroku pokazujemy, jak rozpocząć własny biznes w naszej branży. Pomagamy nowym osobom zdobyć praktyczne umiejętności i wejść na rynek z pewnością i wiedzą.