section#contacts.contacts.block
	.container
		.row.g-4 
			.col-12(data-aos="fade-down")
				h2.contacts__title.text-center.text-uppercase.mb-0 Kontakt
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.contacts__iframe(data-src="https://www.google.com/maps/d/u/0/embed?mid=1K1-Ng_AzxC6SD8lJuJxZL__T9gvKXyc&amp;ehbc=2E312F")
			.col-12(data-aos="fade-in" data-aos-delay="200") 
				.row.g-2 
					.col-12.col-md-6.col-lg-3.text-center
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h3.h6 Obszary które obsługujemy
							p Wrocław i okolice, Jelcz-laskowice, Oleśnica, Brzeg, Oława
					.col-12.col-md-6.col-lg-3.text-center 
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h3.h6 Portale społecznościowe
							include ./socials
					.col-12.col-md-6.col-lg-3.text-center   
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h3.h6 Telefon
							a(href="tel:+48575256496").link +48575256496
					.col-12.col-md-6.col-lg-3.text-center
						.card.card-primary-outline
							.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
							.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
							.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
							.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
							h3.h6 Godziny pracy
							p Pn–Sb: 7:00 – 22:00