a.btn.btn-secondary.btn-normal.btn-rhombus.w-100.text-center(href="tel:+48575256496") 
	span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner
	span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner
	span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner
	span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner
	svg.icon.icon-right.shake(width="16" height="16")
		use(href="#tel")
	| Zadzwoń