section.how#how.bg.bg-dark
	.container
		.row.gx-5.gy-0
			.col-12.col-lg-6.col-xl-4
				.mask
					.triangle.triangle-135.top-inner.left-inner
					.triangle.triangle-45.top-inner.right-inner
					.triangle.triangle-225.bottom-inner.left-inner
					.triangle.triangle-315.bottom-inner.right-inner
					.triangle.triangle-45.top-inner.left-outer.offset-x-p
					.triangle.triangle-315.bottom-inner.left-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-135.top-inner.right-outer.offset-x-p
					.triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
					.triangle.triangle-225.triangle-fill.bottom-inner.left-inner.offset-x-n.d-lg-none.correction-y-n
					.line.line-v-100.top-inner.right-outer
					.line.line-v-100.top-inner.left-outer
					.line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title Jak działamy?
						h3.h6.mask__subtitle Zobacz, jak wygląda cały proces realizacji usługi
						p.text-center
							a.btn.btn-primary-outline.btn-normal.btn-rhombus.w-100.text-center(href="tel:+48575256496") 
								span.triangle.triangle-extra-small.triangle-135.top-inner.left-inner
								span.triangle.triangle-extra-small.triangle-45.top-inner.right-inner
								span.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner
								span.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner
								svg.icon.icon-right.shake(width="16" height="16")
									use(href="#tel")
								| Zadzwoń
			.col-12.col-lg-6.col-xl-8.align-self-center 
				.block
					.row.g-4.align-items-center.justify-content-center 
						.col-12(data-aos="fade-left" data-aos-delay="200")
							.row.g-2 
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#contact")
											h4.h6.card__title.mb-0 Skontaktuj się z nami
										.card__body Omówimy szczegóły Twojego zamówienia, ustalając datę, godzinę i adres realizacji usługi
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#process")
											h4.h6.card__title.mb-0 Realizacja zamówienia
										.card__body W dniu realizacji nasz specjalista przywiezie cały niezbędny sprzęt i środki czyszczące, a następnie wykona usługę
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#cash")
											h4.h6.card__title.mb-0 Płatność
										.card__body Po zakończeniu pracy dokonasz płatności w dogodny dla Ciebie sposób
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#result")
											h4.h6.card__title.mb-0 Gotowe
										.card__body Teraz pozostaje tylko cieszyć się efektem czyszczenia!