section.reviews.block#reviews 
	#map-load-trigger
	.container
		.row.g-4 
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right")
						h2.reviews__title.text-uppercase.mb-0 Opinie
					.col-auto(data-aos="fade-left") 
						.swiper-navigation
							.reviews-button-prev.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.reviews-button-next.btn.btn-third.btn-small
								.triangle.triangle-extra-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-extra-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-extra-small.triangle-315.bottom-inner.right-inner.bordered
								svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in") 
						h3.reviews__subtitle.h4.h6.text-light.mb-0 Prawdziwe historie zadowolonych klientów
			.col-12(data-aos="fade-in" data-aos-delay="100") 
				.swiper.reviews-swiper 
					.swiper-wrapper
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="K" style="--bg-color: teal")
									//- div
									h4.h6.review__name Edyta Nowicka
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Serdecznie polecam! Jestem bardzo zadowolona z wykonanej usługi. Meble czyste, pachnące, praktycznie jak nowe :) Bardzo dobry kontakt i punktualność. Profesjonalny sprzęt i fachowo wykonana praca !
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="Р" style="--bg-color: navy")
									//- div
									h4.h6.review__name Anna Anna
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem bardzo zadowolona z efektów pracy Pana Vitalija. Fotele i kanapa po długotrwałym użytkowaniu, przy dwójce dzieci i dwóch psach zostały porządnie wyczyszczone. Odzyskały pierwotne kolory i zapach czystości. Dodatkowo kanapa została osuszona, dzięki czemu mogłam szybko z niej korzystać. Na pewno ponownie skorzystam z usługi w przyszłym roku. Polecam :)
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="M" style="--bg-color: brown")
									//- div
									h4.h6.review__name Kamil Wilczak
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem absolutnie zachwycony usługami firmy CleanTapi, której powierzyłem zadanie odświeżenia mojego narożnika i dywanu. Efekt jest oszałamiający! Praca została wykonana bardzo szybko, a mimo to nie można było dostrzec żadnych kompromisów w jakości. Zespół składał się z prawdziwych profesjonalistów, którzy wykazali się nie tylko umiejętnościami, ale także zaangażowaniem i pasją do swojej pracy. Moje meble dostały drugie życie. Narożnik i dywan wyglądają teraz jak nowe, a to wszystko dzięki doskonałej pracy tej firmy. Jestem pod wrażeniem ich umiejętności i dbałości o szczegóły. Zdecydowanie polecam tę firmę każdemu, kto szuka profesjonalnego czyszczenia mebli lub dywanów.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="O" style="--bg-color: darkgreen")
									//- div
									h4.h6.review__name A M
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Tapicerka samochodowa wygląda jak nowa – wszystkie plamy zniknęły, a wnętrze auta pachnie świeżością. Usługa została wykonana bardzo profesjonalnie, a cały proces przebiegł sprawnie i w miłej atmosferze. Widać, że firma dba o każdy detal, a efekty przerosły moje oczekiwania. Polecam z całego serca, na pewno skorzystam z ich usług ponownie!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="Д" style="--bg-color: maroon")
									//- div
									h4.h6.review__name Ania T
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Dobry kontakt, krótki czas oczekiwania, miła obsługa, a przede wszystkim idealnie wyprana tapicerka w dodatku w dobrej cenie :) dołączam zdjęcia przed i po :)
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="E" style="--bg-color: indigo")
									//- div
									h4.h6.review__name Lena Jot
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Z całego serca polecam usługi Pana Vitalija! Jestem zachwycona efektem wyczyszczenia w szczególności jednego dywanu z dłuższym włosiem, kiedyś białego, przed czyszczeniem radośnie brudnego i śmierdzącego od łap i sierści psa, a po czyszczeniu - znowu jasny, czysty i pachnący! Po prostu niebywałe. Myślałam, że dywan nadaje sie już tylko do wyrzucenia. A to dlatego że dwa tygodnie wcześniej dywan został 'profesjonalnie' wyprany. A tak na poważnie jaki brudny był, taki brudny pozostał. Pan Vitalij z dużą dozą niepewności podjął się próby wyczyszczenia dywanu i jestem bardzo wdzięczna, ponieważ dywan spisany ma straty wygląda dzięki Panu Vitalijowi jak nowy! Dodatkowo wyczyszczony został większy dywan z salonu i odświeżony został fotel uszak. Pan Vitalij najpierw zapoznał się ze składem materiałów, potem dobrał odpowiednie środki. Z rzepa od siedziska uszaka wybierał nawet biala sierść psa, co mnie wprost oszołomiło. Na wielki plus jest ilość sprzętu, którą przywiózł ze sobą Pan Vitalij, stosunek ceny do jakości wykonanej usługi, wysoka kultura osobista Pana Vitalija, bardzo dobry kontakt, szybki termin usługi. Na pewno jeszcze nie raz poprosimy Pana Vitalija o wyczyszczenie dywanów oraz tapicerki. Polecam każdemu usługi CleanTapi. Załączam zdjęcia dywanów. Największe wrażenie robi przed i po dywan w romby. Po lewej po 'czyszczeniu' przez inną firmę, a po prawej po czyszczeniu przez Pana Vitalija.
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline 
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="S" style="--bg-color: darkslateblue")
									//- div
									h4.h6.review__name Maja Gajewska
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Rzadko chce mi się wystawiać opinie, ale tu muszę. Czyszczenie pierwsza klasa! Materace w łóżkach wyglądają jak nowe, narożnik również. Pan, który wykonywał usługę był bardzo sympatyczny i przede wszystkim zmienił buty na domowe, co nie jest oczywiste dla niektórych fachowców wchodzących w brudnych buciorach np. do pokoju dziecka. 100% profesjonalizmu!
								.review__toggle
									span.in-active-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye")
										| Pokaż więcej
									span.in-inactive-none 
										svg.icon.icon-right(width="16" height="16")
											use(href="#eye-close")
										| Pokaż mniej
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="Н" style="--bg-color: seagreen")
									//- div
									h4.h6.review__name Mateusz Mazur
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Jestem bardzo zadowolony z wykonanej usługi, narożnik po praniu wygląda jak nowy! Firma solidna, punktualna, rzetelna, skrupulatna! GORĄCO POLECAM!!!
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="Н" style="--bg-color: seagreen")
									//- div
									h4.h6.review__name Weronika Tyczka
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Polecam! Bardzo dokładnie oraz profesjonalnie. Narożnik wyprany Idelanie. Wygląda na nowy 🙂 Miły kontakt oraz rzetelne podejście do klienta.
						.swiper-slide
							.review.card.card-primary-outline  
								.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
								.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
								.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
								.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
								.review__header
									//- .review__ava(data-letter="Н" style="--bg-color: seagreen")
									//- div
									h4.h6.review__name Ania Bagińska
									.rating.review__rating(style="--star-rating: 5;")
								p.review__text Szczerze polecam. Kanapa po praniu wygląda jak nowa! Bardzo miły kontakt, szybko, profesjonalnie.
			.col-12 
				.text-center
					a(href="https://g.co/kgs/vs8CZY" target="_blank") Tutaj
					| &nbsp;możesz przeczytać wszystkie recenzje i zostawić własne.
