section.why#why.bg.bg-dark
	.container
		.row.flex-column-reverse.flex-lg-row.gx-5.gy-0 
			.col-12.col-lg-7.col-xl-8.align-self-center 
				.block
					.row.g-4.align-items-center.justify-content-center 
						.col-12(data-aos="fade-right" data-aos-delay="200")
							.row.g-2 
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#effective")
											h4.h6.card__title.mb-0 Skuteczne usuwanie plam i zapachów
										.card__body Używamy profesjonalnej chemii, która radzi sobie nawet z trudnymi zabrudzeniami
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#materials")
											h4.h6.card__title.mb-0 Pracujemy z różnymi rodzajami materiałów
										.card__body Delikatnie czyścimy tkaniny, skórę, zamsz, mikrofibrę i inne powierzchnie
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#intime")
											h4.h6.card__title.mb-0 Przyjeżdżamy w dogodnym dla Ciebie czasie
										.card__body To Ty wybierasz datę i godzinę — dostosowujemy się do Twojego harmonogramu
								.col-12.col-sm-6
									.card.card-primary-outline
										.triangle.triangle-small.triangle-135.top-inner.left-inner.bordered
										.triangle.triangle-small.triangle-45.top-inner.right-inner.bordered
										.triangle.triangle-small.triangle-225.bottom-inner.left-inner.bordered
										.triangle.triangle-small.triangle-315.bottom-inner.right-inner.bordered
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#safe")
											h4.h6.card__title.mb-0 Bezpieczne dla dzieci i zwierząt
										.card__body Stosujemy hipoalergiczne środki, które są bezpieczne dla zdrowia
			.col-12.col-lg-5.col-xl-4
				.mask
					.triangle.triangle-135.top-inner.left-inner
					.triangle.triangle-45.top-inner.right-inner
					.triangle.triangle-225.bottom-inner.left-inner
					.triangle.triangle-315.bottom-inner.right-inner
					.triangle.triangle-45.top-inner.left-outer.offset-x-p
					.triangle.triangle-315.bottom-inner.left-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-135.top-inner.right-outer.offset-x-p
					.triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
					.triangle.triangle-225.triangle-fill.bottom-inner.left-inner.offset-x-n.d-lg-none.correction-y-n
					.line.line-v-100.top-inner.right-outer
					.line.line-v-100.top-inner.left-outer
					.line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
					.mask__inner(data-aos="fade-down" data-aos-delay="100")
						h2.mask__title Dlaczego właśnie my?
						h3.h6.mask__subtitle Nasi klienci wracają do nas — i oto dlaczego
						p.text-center
							include cta-button