:root {
  --first-color: #fdfff8;
  --first-color-125: #f1f5e8;
  --second-color: #ffa600;
  --second-color-125: #de9000;
  --third-color: #1c9862;
  --third-color-125: #0f804f;
  --fourth-color: #01352c;
  --fourth-color-125: #02342c;
}
