:root {
  --first-color: #fdfff8;
  --first-color-75: #ffffff;
  --second-color: #ffa600;
  --second-color-75: #ffa600;
  --third-color: #1c9862;
  --third-color-75: #1c9862;
  --fourth-color: #01352c;
  --fourth-color-75: #06473c;
}
