:root {
  --first-color: #fdfff8;
  --first-color-125: #f1f5e8;
  --second-color: rgb(215, 0, 0);
  --second-color-125: rgb(167, 0, 0);
  --third-color: #10653E;
  --third-color-125: rgb(10, 111, 68);
  --fourth-color: #01352c;
  --fourth-color-125: #02342c;
}
