section.promo#promo.bg.bg-dark
	.container 
		.row.flex-column-reverse.flex-lg-row
			.col-12.col-lg-8.align-self-center 
				.block
					.row.g-4.g-xl-5 
						.col-12
							h1.details__title.mb-0.text-uppercase Sprzątanie mieszkań, domów i biur we Wrocławiu
						.col-12
							.details__subtitle.extractor 
								.extractor__cleaner(data-aos="fade-left" data-aos-delay="100") 
								h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left" data-aos-delay="200") Świadczymy profesjonalne usługi sprzątania pomieszczeń mieszkalnych i komercyjnych. Używamy nowoczesnego sprzętu i bezpiecznych środków, aby Twoja przestrzeń zawsze była czysta, świeża i przytulna.
						.col-12
							ul.m-0
								li Sprzątanie mieszkań, domów prywatnych i biur
								li Sprzątanie generalne lub regularne — do wyboru
								li Usuwanie kurzu, brudu i plam nawet z trudno dostępnych miejsc
								li Użycie ekologicznych i bezpiecznych środków
								li Oszczędność czasu i wysiłku dla klienta
								li Dojazd w dogodnym dla Ciebie terminie
						.col-12
							.row.g-2.justify-content-center.justify-content-lg-start 
								include ../cta-buttons-2
			.col-12.col-lg-4
				.mask
					.triangle.triangle-135.top-inner.left-inner
					.triangle.triangle-45.top-inner.right-inner
					.triangle.triangle-225.bottom-inner.left-inner
					.triangle.triangle-315.bottom-inner.right-inner
					.triangle.triangle-45.top-inner.left-outer.offset-x-p
					.triangle.triangle-135.top-inner.right-outer.offset-x-p
					.triangle.triangle-225.bottom-inner.right-outer.offset-x-p.d-none.d-lg-block
					.triangle.triangle-315.triangle-fill.bottom-inner.right-inner.offset-x-n.d-lg-none.correction-y-n
					.line.line-v-100.top-inner.right-outer
					.line.line-v-50.top-inner.left-outer
					.line.line-h-100.bottom-inner.left-inner.d-lg-none.correction-y-n
					.rectangle.rectangle-50.left-inner.bottom-inner
						.triangle.triangle-225.left-inner.top-outer
						.triangle.triangle-225.bottom-inner.right-outer
						.triangle.triangle-225.triangle-fill.left-inner.offset-x-n.top-outer.correction-y-n
						.rectangle.rectangle-100.rectangle-fill.left-inner.offset-x-n.bottom-inner.correction-y-n
						.triangle.triangle-225.triangle-fill.bottom-inner.right-outer.offset-x-n.correction-y-n
					img.mask__img(src="img/service-cleaning.jpg" alt="" data-aos="fade-in")
					.mask__inner
						.text-center.text-light 
							b.text-bold Obsługujemy miasta: 
							br
							span Wrocław, Jelcz-laskowice, Oleśnica, Brzeg, Oława, okolice
							br
							span Pon. - Sob. 7:00 - 22:00